<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binbill.seller">

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".BinBillSeller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".Firebase.AppFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard.DashboardActivity_"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BaseActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login.LoginActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registration.RegisterActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login.OTPLoginActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registration.BasicDetails1Activity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Registration.BasicDetails2Activity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Registration.BusinessDetailsActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Registration.FMCGRegistrationActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Registration.AutoEEServicesActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Registration.ASCCategoryBrandActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Registration.ImagePreviewActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Offers.OfferActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Offers.AddOfferActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Offers.PublishOfferToUserActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Offers.DefaultBannerActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Customer.AddCustomerActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AssistedService.AddAssistedServiceActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Customer.UserInformationActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dashboard.ProfileActivity_"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Order.OrderDetailsActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>